services:
  djlgcc:
    build: .
    container_name: djlgcc
    image: djlgcc:1.0
    environment:
      - DJANGO_SETTINGS_MODULE=djlgcc.settings
      - DEV=1
      - PYTHONUNBUFFERED=1
      - MYSQL_USER=root
      - MYSQL_PASSWORD=flash
      - MYSQL_HOST=db.local
      - TZ=America/Argentina/Buenos_Aires
    ports:
      - 8007:8007
    volumes:
      - ./:/app
    command: python manage.py runserver 0.0.0.0:8007
    #command: tail -f /dev/null
    links:
      - mysqlserver_cc:db.local
    depends_on:
      - mysqlserver_cc

  mysqlserver_cc:
    image: mysql:5.7.33
    container_name: mysqlserver_cc
    environment:
      - MYSQL_ROOT_PASSWORD=flash
      - MYSQL_DATABASE=djlgcc
      - TZ=America/Argentina/Buenos_Aires
    restart: on-failure
    ports:
      - 3301:3306
    volumes:
      - ./docker/mysqlserver_cc:/var/lib/mysql

