{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <h2>Clientes</h2>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th></th>
                <th></th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.domicilio_calle }}</td>
                    <td>{{ item.updated|date:"d/m/Y H:i" }}</td>
                    <td>
                    <a href="{% url 'cuentascorrientes:clientes_edit' item.pk %}" class="btn btn-sm btn-primary">Editar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No hay registros cargados.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'cuentascorrientes:clientes_add' %}" class="btn btn-primary">Cargar nuevo</a>
</div>
{% endblock %}

