{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <h2>Modifica Pedido de {{ cliente }}</h2>

    <h3>
        Detalle a entregar
    </h3>
    
    <form method="post" novalidate>
        {% csrf_token %}
            {{ form.proceso_id }}
            {{ form.cliente_id }}

            <!--la variable la mande por contexto otra forma hubiera sido hacer otra sql en el get_initial y cargarla ahi como las dos de arriba-->
            <input type="hidden" name="pedido_orig_id" value="{{ pedido_orig_id}}">

        <div class="row">
        <div class="col-md-3">
            <label for="{{ form.producto.id_for_label }}" class="form-label">Producto</label>
            {{ form.producto }}
            {% for error in form.producto.errors %}
                <div class="text-danger small">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="col-md-3">

            <label for="{{ form.cantidad.id_for_label }}" class="form-label">Cantidad</label>
            {{ form.cantidad }}
            {% for error in form.cantidad.errors %}
                <div class="text-danger small">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="col-md-3">
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>

        </div>
    </form>

    <table class="table table-bordered table-striped table-sm">
        <thead class="table-dark">
            <tr>
                <th>Codigo</th>
                <th>Descripción</th>
                <th>Cantidad Kg</th>
                <th>Precio Unit</th>
                <th>Importe</th>
                <th>Acciones</th>
                <th>Acciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for r in datos_adic %}
            <tr>
                <td>{{ r.codigo }}</td>
                <td>{{ r.descripcion }}</td>
                <td>{{ r.cantidad }}</td>
                <td>{{ r.precio }}</td>
                <td>{{ r.total }}</td>
                <td><button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#editarModal" data-id="{{ r.id }}" data-cantidad="{{ r.cantidad }}">
                    Editar</button></td>
                <td><form method="post" action="{% url 'cuentascorrientes:tmp_eliminar' r.id %}" style="display:inline;" >
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                    </form>
                </td>
                <td>Acciones</td>
            </tr>
            {% endfor%}

            {% if datos_adic %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-right">TOTAL:</td>
                <td>{{ totales.total }}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endif %}
        </tbody>
    </table>

{% if datos_adic %}
<form method="post" action="{% url 'cuentascorrientes:guardar_pedido_edit' %}">
    {% csrf_token %}
    {{ form_extra.as_p }}
    <button type="submit" class="btn btn-primary">Guardar Modificaciones</button>
</form>
{% endif %}


</div>

<div class="modal fade" id="editarModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <form method="post" action="{% url 'cuentascorrientes:tmp_editar' %}">
        {% csrf_token %}

        <div class="modal-header">
          <h5 class="modal-title">Editar cantidad</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">

          <input type="hidden" name="tmp_id" id="tmp_id">

          <div class="mb-3">
            <label class="form-label">Cantidad</label>
            <input
                type="number"
                step="0.01"
                class="form-control"
                name="cantidad"
                id="cantidad"
                required
            >
          </div>

        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancelar
          </button>
        </div>

      </form>

    </div>
  </div>
</div>


<script>
document.getElementById('editarModal')
  .addEventListener('show.bs.modal', function (event) {

    const button = event.relatedTarget

    document.getElementById('tmp_id').value =
        button.getAttribute('data-id')

    document.getElementById('cantidad').value =
        button.getAttribute('data-cantidad')
})
</script>


{% endblock %}

