{% extends "base.html" %}
{% block content %}
<div class="container-fluid">

    <h2>Entrega Mercaderia</h2>
    


    <h3>
        Detalle a entregar
    </h3>
    
    <form method="post">
        {% csrf_token %}

        <div class="row">
        <div class="col-md-3">
            <label for="{{ form.producto.id_for_label }}" class="form-label">Producto</label>
            {{ form.producto }}
            {% for error in form.producto.errors %}
                <div class="text-danger small">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="col-md-3">

            <label for="{{ form.cantidad.id_for_label }}" class="form-label">Cantidad</label>
            {{ form.cantidad }}
            {% for error in form.cantidad.errors %}
                <div class="text-danger small">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="col-md-3">
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>

        </div>





    </form>

    <table class="table table-bordered table-striped table-sm">
        <thead class="table-dark">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


</div>
{% endblock %}

