{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <h1>Informe de Pedidos Entregados</h1>

    {% if pedidos %}
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Sucursal</th>
                    <th>Cliente</th>
                    <th>Domicilio</th>
                    <th>RM Asociado</th>
                    <th>Importe total</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                    <tr>
                        <td>{{ pedido.fecha|date:'d/m/Y' }}</td>
                        <td>{{ pedido.sucursal.nombre }}</td>
                        <td>{{ pedido.cliente.nombre }} ({{ pedido.cliente.id }})</td>
                        <td>{{ pedido.cliente.get_domicilio }}</td>
                        <td>{{ pedido.rm_asociado }}</td>
                        <td>{{ pedido.total_remitos }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No se encontraron pedidos para los criterios seleccionados.</p>
    {% endif %}

</div>
{% endblock %}

