{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <h2>Listado de Pedidos Entregados</h2>

    <!--<table class="table table-bordered table-striped table-sm">-->
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th>ID pedido</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Comprobante</th>
                <th>Fecha Entrega</th>
                <th class="text-end">Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for r in objects %}
                <tr>
                    <td>{{ r.id }} 
                    <a href="{% url 'cuentascorrientes:detalle_pedido' pk=r.id%}" class="btn btn-secondary btn-xs" role="button"><i class="bi bi-eye"></i></a>
                    </td>
                    <td>{{ r.fecha|date:'d/m/Y' }}</td>
                    <td>{{ r.cliente }}</td>
                    <td>{{ r.rm_asociado }}</td>
                    <td>{{ r.rm_asociado.fecha|date:'d/m/Y' }}</td>
                    <td class="text-end">{{ r.total_importe }}</td>
                    <td>
                    <a href="{% url 'cuentascorrientes:rm_imprimir' remito_id=r.rm_asociado.id %}" target="blank" class="btn btn-sm btn-primary">Imprimir</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No hay registros cargados.</td>
                </tr>
            {% endfor %}
                <!--<tr>-->
                    <!--<td></td>-->
                    <!--<td></td>-->
                    <!--<td class="text-end">{{ suma_total }}</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
        </tbody>
    </table>
</div>
{% endblock %}

