<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Remito #{{ remito.id }}</title>
  <style>
    @media print {
      @page { margin: 20mm; }
      body { font-family: Arial, sans-serif; font-size: 12pt; }
      .no-print { display: none; }
    }
    .encabezado { text-align: center; font-weight: bold; margin-bottom: 20px; }
    .detalle { border-collapse: collapse; width: 100%; }
    .detalle th { border: 1px solid #000; padding: 5px; }
    .detalle td { border: 0px solid #000; padding: 2px; }
  </style>
</head>
<body>
  <div class="no-print">
    <button onclick="window.print()">🖨️ Imprimir</button>
  </div>

  <div class="encabezado">
      <h2>Remito {{ remito.punto_de_venta|stringformat:"05d"}}-{{ remito.numero|stringformat:"08d"}}</h2>
    <p>Fecha: {{ remito.fecha|date:"d/m/Y" }}</p>
  </div>

  <table class="detalle">
    <thead>
        <tr>
            <th style="width:50%; text-align:left;">Descripcion</th>
            <th style="text-align:right;">Cantidad</th>
            <th style="text-align:right;">Precio unitario</th>
            <th style="text-align:right;">Total</th>
        </tr>
    </thead>
    <tbody>
      {% for item in objects_det %}
      <tr>
        <td>{{ item.codigo }} {{ item.descripcion }}</td>
        <td style="text-align:right;">{{ item.cantidad }}</td>
        <td style="text-align:right;">{{ item.importe_unitario }}</td>
        <td style="text-align:right;">{{ item.total|floatformat:2}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <p style="text-align:right;font-weight: bold;">Total: ${{ remito.total_general|floatformat:2 }}</p>
</body>
</html>
